[program:{{ avail_role }}]
command=bash {{ avail_dir }}/{{ avail_role }}/{{ avail_role }}.sh
stopsignal=QUIT
user=avail
directory={{ avail_dir }}/{{ avail_role }}
stdout_logfile=/var/log/avail/{{ avail_role }}.log
stderr_logfile=/var/log/avail/{{ avail_role }}_error.log
redirect_stdout=true
autostart=true
autorestart=true
